@page "/sign-in"
@inherits SignInPage
@layout HeadlessLayout

<PageTitle>Sales System - Sign In</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <h1 class="d-flex justify-center">Sales System - Sign In</h1>

            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <ValidationSummary />
                <DataAnnotationsValidator />

                <MudTextField Class="mb-4" Variant="Variant.Outlined" T="string" Label="E-mail" HelperText="Required Field" InputType="InputType.Email" For="@(() => InputModel.Email)" @bind-Value="InputModel.Email" />
                <MudTextField Class="mb-4" Variant="Variant.Outlined" T="string" Label="Password" HelperText="Required Field" InputType="InputType.Password" For="@(() => InputModel.Password)" @bind-Value="InputModel.Password" />

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Sign In</MudButton>
                        <MudSpacer />
                        <MudButton Href="/sign-up" Variant="Variant.Outlined" EndIcon="@Icons.Material.Sharp.AccountCircle" Color="Color.Primary">Don't have account yet?</MudButton>
                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>